<ion-view view-title="Events | Circles">


  <ion-content>
      <div class="=row">
          <br />
              <div class="col col-80 col-offset-10"><a class="ion-android-alert">&nbsp; Invited to an event? Check your email for an invite code to get started locating your opportunities. </a></div>

      </div>

      <div class="list card">

          <div class="item item-avatar">
              <img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/551124_160486440817054_246217932_n.png?oh=8d6518cf7d1f746f6415fa226fd21292&oe=57002CCA">
              <h2>After work mingle</h2>
              <p>SUP46</p>
          </div>

          <div class="item item-body">
              <img class="full-image" src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12366350_429492717249757_3288177053364971581_n.jpg?oh=e55e7ff4528825345bf6e099eec71b0b&oe=5700087F">

              <p>
                  <a href="#" class="subdued">5 Connections Going<br></a>
                  <a class="subdued">22 January, 17:00<br></a>
                  <a href="#" class="subdued">Regeringsgatan 29, 145 73 Stockholm.</a>
              </p>
          </div>

          <!--<div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#"> -->

      
              
              <a class="item item-icon-left assertive" href="#">
                  <i class="icon ion-ios-arrow-forward"></i>
                  Join and Find Opportunities
              </a>

              <!-- </div>-->

</div>
  </ion-content>
</ion-view>
